.landing {
  font-family: "CircularStd";
  font-size: 65px;
}

img {
  width: 20%;
  height: 20%;
}

.intro,
.landing-footer {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
}
.landing > img {
  margin: 1vh 0 0 1vh;
}

.intro {
  margin-top: 1em;
}
.buttons {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons button {
  border-radius: 10vw;
  height: 20vw;
  width: 20vw;
  top: 200px;
  font-size: 65px;
  font-weight: bold;
  font-style: normal;
  outline-style: none;
  transition: width ease 0.3s;
  border: none;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
}

.buttons button:disabled {
  color: black;
}

.buttons button.clicked {
  width: 55vw;
}
.buttons button.disappear {
  display: none;
}
.first-time > button {
  background-color: rgba(253, 200, 30, 1);
}

.first-time > button.clicked {
  margin: 0 -12%;
}
.regular > button {
  background-color: rgba(77, 204, 229, 1);
}

.regular > button.clicked {
  margin: 0 12%;
}

.clock {
  width: 100%;
  color: rgb(178, 178, 178);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.clock > div {
  margin-right: 3vh;
}

.clock > .clock-time {
  height: 139px;
  width: 273px;
  font-size: 110px;
  font-weight: 550;
  letter-spacing: -0.82px;
  line-height: 139px;
  text-align: center;
}

.clock-date {
  height: 89px;
  width: 268px;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -0.52px;
  line-height: 89px;
  text-align: center;
}
