.landing {
  font-family: "CircularStd";
  font-size: 65px;
}

img {
  width: 20%;
  height: 20%;
}

.intro,
.landing-footer {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
}
.landing > img {
  margin: 1vh 0 0 1vh;
}

.intro {
  margin-top: 1.5em;
}
.buttons {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons button {
  opacity: 1;
  border-radius: 10vw;
  height: 20vw;
  width: 20vw;
  top: 200px;
  font-size: 65px;
  font-weight: bold;
  font-style: normal;
  outline-style: none;
  transition: width ease 0.3s;
}

.buttons button:disabled {
  color: black;
}

.buttons button.clicked {
  width: 55vw;
}
.buttons button.disappear {
  display: none;
}
.first-time > button {
  background-color: rgba(253, 200, 30, 1);
}

.first-time > button.clicked {
  margin: 0 -12%;
}
.regular > button {
  background-color: rgba(77, 204, 229, 1);
}

.regular > button.clicked {
  margin: 0 12%;
}
