.landing {
  font-family: "CircularStd";
  font-size: 65px;
  min-height: 100vh;
}

.shortcut-logo {
  margin: 3.7vh 0 0 3.7vh;
}
.media-handler {
  position: absolute;
  bottom: 44px;
  left: 41.5%;
  display: flex;
  justify-content: space-around;
  width: 317px;
  height: 41px;
  transition-duration: 2000ms;
}

.intro,
.landing-footer {
  margin-top: 3%;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  white-space: pre-wrap;
}

.intro {
  min-height: 60px;
}
.buttons {
  margin: 84px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons button {
  border-radius: 175px;
  height: 350px;
  width: 350px;
  top: 200px;
  font-size: 65px;
  font-weight: bold;
  font-style: normal;
  outline-style: none;
  transition: width ease 0.3s;
  border: none;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  white-space: pre-wrap;
}

.buttons button:disabled {
  color: black;
}

.buttons button.clicked {
  width: 55vw;
}
.buttons button.disappear {
  display: none;
}
.first-time > button {
  background-color: rgba(253, 200, 30, 1);
}

.first-time > button.clicked {
  margin: 0 -12%;
}
.regular > button {
  background-color: rgba(77, 204, 229, 1);
}

.regular > button.clicked {
  margin: 0 12%;
}

.clock {
  width: 100%;
  color: rgb(178, 178, 178);
  position: absolute;
  right: 4.8vh;
  bottom: 4.8vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.clock > .clock-time {
  height: 90px;
  width: 273px;
  font-size: 110px;
  font-weight: 550;
  letter-spacing: -0.82px;
  line-height: 139px;
  text-align: center;
}

.clock-date {
  height: 55px;
  width: 268px;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -0.52px;
  line-height: 89px;
  text-align: center;
}
